/** @type {import('tailwindcss').Config} */
module.exports = {
	content: {{content|json_dumps}},
	theme: {{theme|json_dumps}},
	plugins: [
	{% for plugin in plugins %}
		require({{plugin|json_dumps}}),
	{% endfor %}
	],
	{% if presets is defined %}
	presets: [
	{% for preset in presets %}
		require({{preset|json_dumps}})
	{% endfor %}
	],
	{% endif %}
	{% if darkMode is defined %}
	darkMode: {{darkMode|json_dumps}},
	{% endif %}
	{% if corePlugins is defined %}
	corePlugins: {{corePlugins|json_dumps}},
	{% endif %}
	{% if important is defined %}
	important: {{important|json_dumps}},
	{% endif %}
	{% if prefix is defined %}
	prefix: {{prefix|json_dumps}},
	{% endif %}
	{% if separator is defined %}
	separator: {{separator|json_dumps}},
	{% endif %}
};
