{% import 'web/pages/utils.js.jinja2' as utils %}

function {{tag_name}} () {
  const [ {{const.color_mode}}, {{const.toggle_color_mode}} ] = useContext(ColorModeContext)
  {% if state_name %}
  const {{state_name}} = useContext(StateContext);
  {% endif %}
  {% if events %}
  const [addEvents, connectError] = useContext(EventLoopContext);
  {% endif %}

  {% for hook in component.get_hooks() %}
  {{ hook }}
  {% endfor %}

  return {{utils.render(component.render())}}
}