{% import 'web/pages/utils.js.jinja2' as utils %}

function {{tag_name}} () {
  {% if state_name %}
  const {{state_name}} = useContext(StateContext);
  {% endif %}
  {% if events %}
  const [Event, notConnected] = useContext(EventLoopContext);
  {% endif %}
  return {{utils.render(component.render())}}
}