{% import 'web/pages/utils.js.jinja2' as utils %}
{% from 'web/pages/macros.js.jinja2' import renderHooksWithMemo %}
{% set all_hooks = component._get_all_hooks() %}

export function {{tag_name}} () {
  {{ renderHooksWithMemo(all_hooks, memo_trigger_hooks) }}
  
  return (
    {{utils.render(component.render(), indent_width=0)}}
  )
}
