.states
**/*.db
**/*.pyc
**/*.swp
**/.DS_Store
**/.web
*.db
*.py[cod]
*.zip
.idea
.markdownlint.json
.venv/
.web
__pycache__/
assets/external/
pcconfig2.py
pynecone.db
reflex.db
venv/
.env
build
*.egg-info
shared/
