{% import 'web/pages/utils.js.jinja2' as utils %}
{% for module in imports%}
{{utils.get_import(module)}}
{% endfor %}

export default function Document() {
  return (
    {{utils.render(document, indent_width=4)}}
  )
}
