
{{imports}}
{{custom_code}}
{% for name, url in endpoints.items() %}
const {{name}} = {{url|json_dumps}}
{% endfor %}
export default function Component() {
{{state}}
{{events}}
{{effects}}
return (
    {{render}}
)
}
