{{imports}}
{% for custom_code in custom_codes %}
{{custom_code}}
{% endfor %}
{% for name, url in endpoints.items() %}
const {{name}} = {{url|json_dumps}}
{% endfor %}
export default function Component() {
{{state}}
const Event = events => {{state_name|react_setter}}({
  ...{{state_name}},
  events: [...{{state_name}}.events, ...events],
})
{{effects}}
return (
    {{render}}
)
}
