{% macro render(component, indent_width=2) %}
{# {{component}} #}
{% filter indent(width=indent_width)%}
{%- if component is not mapping %}
{{component}}
{%- elif component.children|length %}
{{render_tag(component)}}
{%- else %}
{{render_self_close_tag(component)}}
{%- endif %}
{%- endfilter %}
{%- endmacro %}

{% macro render_self_close_tag(component) %}
{%- if component.name|length %}
<{{component.name}}
{%- if component.props|length -%}
{# props with white space at each one #}
{% for prop in component.props%} {{prop}}{% endfor %}
{%- endif -%}
{# if no props, no white space #}
/>
{%- else %}
{{component.contents}}
{%- endif %}
{%- endmacro %}

{% macro render_tag(component) %}
<{{component.name}}
{%- if component.props|length -%}
{# props with white space at each one #}
{% for prop in component.props%} {{prop}}{% endfor %}
{%- endif -%}
{# if no props, no white space #}
>
{%- if component.args is not none %}

  {({ {{component.args|join(", ")}} }) => (
    {% filter indent(width=2)%}
    {% for child in component.children %}
    {{render(child, )}}
    {% endfor %}
    {%- endfilter %}
  )}
{%- else %}
  {{component.contents}}
  {% for child in component.children %}
  {{render(child)}}
  {% endfor %}
{%- endif %}
</{{component.name}}>
{%- endmacro %}
