{% macro render(component, indent_width=2) %}
{% filter indent(width=indent_width)%}
<{{component.name}}
{%- if component.props|length -%}
{# props with white space at each one #}

  {% for prop in component.props%}
  {{prop}}
  {% endfor %}
{%- endif -%}
{# if no props, no white space #}
>
{%- if component is mapping %}
  {%- if component.args is not none %}
  {({ {{component.args|join(", ")}} }) => (
  {% for child in component.children %}
  {{render(child)}}
  {% endfor %}
  )}
  {%- else %}
  {{component.contents}}
  {% for child in component.children %}
  {{render(child)}}
  {% endfor %}
  {%- endif %}
{% else %}
  {# in the case of string show the component #}
  {{component}}
{% endif %}

</{{component.name}}>
{%- endfilter %}
{% endmacro %}