{% macro render(component, indent_width=2) %}
{% filter indent(width=indent_width) %}
  {%- if component is not mapping %}
    {{- component }}
  {%- elif component.children|length %}
    {{- render_tag(component) }}
  {%- else %}
    {{- render_self_close_tag(component) }}
  {%- endif %}
{% endfilter %}
{% endmacro %}

{% macro render_self_close_tag(component) %}
{%- if component.name|length %}
<{{ component.name }} {{- get_props(component.props) }}/>
{%- else %}
  {{- component.contents }}
{%- endif %}
{% endmacro %}

{% macro render_tag(component) %}
<{{component.name}} {{- get_props(component.props) }}>
{%- if component.args is not none -%}
{# no string below for a line break #}

  {{- get_arg_content(component) }}
{%- else %}
  {{ component.contents }}
  {% for child in component.children %}
  {{ render(child) }}
  {% endfor %}
{%- endif -%}
{# comment here for a line break #}
</{{component.name}}>
{%- endmacro %}

{% macro get_props(props) %}
{% if props|length %} {{ props|join(" ") }}{% endif %}
{% endmacro %}

{% macro get_arg_content(component) %}
{%- filter indent(width=2) %}
{# no string below for a line break #}

{({ {{component.args|join(", ")}} }) => (
  {% for child in component.children %}
  {{ render(child) }}
  {% endfor %}
)}
{% endfilter %}
{% endmacro %}

{% macro get_children(component) %}
{% filter indent(width=2) %}
{% endfilter %}
{% endmacro %}

{% macro get_import(module)%}
{%- if module.default|length and module.rest|length -%}
  import {{module.default}}, { {{module.rest|sort|join(", ")}} } from "{{module.lib}}"
{%- elif module.default|length -%}
  import {{module.default}} from "{{module.lib}}"
{%- elif module.rest|length -%}
  import { {{module.rest|sort|join(", ")}} } from "{{module.lib}}"
{%- else -%}
  import "{{module.lib}}"
{%- endif -%}
{% endmacro %}
