useEffect(()=>{
  if(!isReady) {
    return;
  }
  if (!{{const_socket}}.current) {
    connect({{const_socket}}, {{state}}, set{{state.capitalize()}}, {{const_result}}, set{{const_result.capitalize()}}, {{const_router}}, {{const_event_endpoint}}, {{transports}})
  }
  const update = async () => {
    if ({{const_result}}.{{const_state}} != null){
      set{{state.capitalize()}}({
        ...{{const_result}}.{{const_state}},
        events: [...{{state}}.{{const_events}}, ...{{const_result}}.{{const_events}}],
      })

      set{{const_result.capitalize()}}({
        {{const_state}}: null,
        {{const_events}}: [],
        {{const_processing}}: false,
      })

      await updateState({{state}}, set{{state.capitalize()}}, {{const_result}}, set{{const_result.capitalize()}}, {{const_router}}, {{const_socket}}.current)
    }
    update()
  }
})
