{$DOMAIN}

encode gzip

@backend_routes path /_event/* /_upload /ping
handle @backend_routes {
	reverse_proxy app:8000
}

route {
	try_files {path} {path}.html
	file_server {
		root /srv
		pass_thru
	}
	# proxy dynamic routes to nextjs server
	reverse_proxy app:3000
}
