/*
This file overloads the builtin doxygen stylesheet.
*/

/* Include stylesheet from google to make the nice font Open Sans work in
chrome and other browsers.

http://fonts.googleapis.com/css?family=Open+Sans:400,600,700%22%20rel=%22stylesheet%22%20type=%22text/css

*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
	background-color: #e8e8e8;
}

div.header, div.contents {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #ffffff;
}

div.contents
{
	margin: 0;
	padding-bottom: 30px;
}

#top {
	background-color: #ffffff;
}

body, table, div, p, dl {
	font: normal 13px/1.2 Verdana,DejaVu Sans,Geneva,sans-serif;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	color: #363534;
}

h2.groupheader {
	border-bottom: none;
	color: #363534;
	font-size: 16px;
	font-weight: 600;
}

/* Avoid bold links in paragraphs */
p a.el {
	font-weight: normal;
}

/* But leave it bold inside code fragments */
a.code {
	font-weight: bold;
}

.memname {
	font-size: 16px;
}

span.mlabel {
	background-color: transparent;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;
	text-shadow: none;
	color: #363534;
}

.memproto, dl.reflist dt {
	border-top: none;
	border-left: none;
	border-right: none;
	background-image:none;
	background-color: #F9FAFC;
	/* opera specific markup */
	box-shadow: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	/* firefox specific markup */
	-moz-box-shadow: none;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	/* webkit specific markup */
	-webkit-box-shadow: none;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
}


.memdoc, dl.reflist dd {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding: 6px 10px 2px 10px;
	background-color: #FBFCFD;
	border-top-width: 0;
	background-image: none;
	background-color: #FFFFFF;
	/* opera specific markup */
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
	/* firefox specific markup */
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-moz-box-shadow: none;
	/* webkit specific markup */
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-box-shadow: none;
}

pre.fragment {
	font-family: monospace, fixed;
	font-size:  11px;
	line-height: 19px;
}

div.line {
	font-size: 11px;
	line-height: 19px;
}
