<{{tag_name}}
{%- if props|length -%}
{# props with white space at each one #}
{% for prop in props%} {{prop}}{% endfor %}
{%- endif -%}
{# if no props, no white space #}
>
{% filter indent(width=4)%}
{%- if args is not none %}
{({ {{args|join(", ")}} }) => (
  {{contents}}
)}
{%- else %}
{{contents}}
{%- endif %}
{% endfilter %}
</{{tag_name}}>